@charset "UTF-8";

*, *:before, *:after {
      box-sizing: border-box;
  }

ol, ul {
      list-style: none;
   }

body {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      padding-top: 10px;
    }

label {
      line-height: 0;
    }

    a {
      color: #333;
      text-decoration: none;
    }

    h1{
      text-align: center;
    }

    .fake-nav {
      height: 70px;
    }

    #nav {
      position: fixed;
      width: 100%;
      top: 0;
      background: #333;
      margin: 0;
      box-shadow: 0 0px 5px rgba(76, 175, 80, 0.4);
      transition: 0.5s;
      z-index: 100;
    }

    #nav .list-menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

    #nav .item-menu {
      display: flex;
      align-items: flex-end;
      flex-basis: 250px;
      justify-content: center;
    }

    .logo {
      padding: 20px 0 15px 0;
      font-size: 25px;
      line-height: 0.9;
      letter-spacing: 10px;
      text-align: center;
    }
    .logo a {
      text-decoration: none;
      color: #bbb;
    }
    .logo span {
      font-size: 12px;
      letter-spacing: 4px;
      padding: 0;
      margin: 0;
      color: #bbb;
      text-decoration: none;
    }

    .nav-icons i {
      padding: 10px;
      margin: 0 10px;
      font-size: 18px;
      color: #bbb;
      transition: 0.2s;
    }
    .nav-icons i:hover {
      color: #3d8b40;
      transform: scale(1.1);
    }

    #search-form {
      display: flex;
    }
    #search-form input[type="search"] {
      background: white;
      color: #bbb;
      border: none;
      width: 100%;
      padding: 25px;
      font-size: 20px;
      letter-spacing: 2px;
      outline: none;
    }
    #search-form button {
      color: #bbb;
      background: white;
      border: none;
      padding: 7px;
      cursor: pointer;
    }
    #search-form button:focus {
      outline: none;
    }

    #search-toggle {
      display: none;
      transition: 0.2s;
    }

    .search-backdrop,
    .search-content {
      opacity: 0;
      position: fixed;
      left: 0;
      top: 0;
      overflow: hidden;
      z-index: -1;
      transform: translateY(100%);
      transition: 0.2s;
    }

    .search-backdrop {
      width: 100vw;
      height: 100vh;
      cursor: pointer;
      background-color: rgba(61, 139, 64, 0.5);
    }

    .search-content {
      width: 100%;
      height: 78px;
    }

    #search-toggle:checked ~ .search-backdrop {
      opacity: 1;
      z-index: 998;
      transform: translateY(0%);
    }

    #search-toggle:checked ~ .search-content {
      opacity: 1;
      z-index: 999;
      transform: translateY(0%);
    }

    .search-container input::-webkit-input-placeholder {
      color: #a3d7a5;
    }
    .search-container input::-ms-input-placeholder {
      color: #a3d7a5;
    }
    .search-container input:-ms-input-placeholder {
      color: #a3d7a5;
    }
    .search-container input::placeholder {
      color: #a3d7a5;
    }

    .shop > i {
      position: relative;
      padding: 15px 45px 10px 30px;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 3px;
      text-decoration: none;
      color: #bbb;
    }
    .shop > i::before {
      content: '';
      position: absolute;
      height: 7px;
      width: 7px;
      border-bottom: solid 1px #000;
      border-right: solid 1px #000;
      transform: translate(54px, 6px) rotate(45deg);
      border-color: #bbb;
    }

    .shop:hover i {
      outline: solid 1px #bbb;
    }
    .shop:hover i::after {
      content: '';
      position: absolute;
      height: 1px;
      bottom: -1px;
      left: 0;
      width: 100%;
      background: white;
      z-index: 1;
    }

    .shop > .sub-menu {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      display: none;
      background: white;
    }

    .shop:hover .sub-menu {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
    }

    .sub-menu li {
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 30px 0;
      border-bottom: solid 1px #bbb;
      border-top: solid 1px #bbb;
    }
    .sub-menu li:hover {
      background: #dbf0dc;
    }
    .sub-menu li h3 {
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #bbb;
    }

    /*   START btm-responsive-menu   */
    #btm-open-menu {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 22px;
      left: 4%;
      margin: 0px auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      display: none;
    }
    #btm-open-menu span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #bbb;
      left: 0;
      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: 0.2s ease-in-out;
    }
    #btm-open-menu span:nth-child(1) {
      top: 0px;
    }
    #btm-open-menu span:nth-child(2), #btm-open-menu span:nth-child(3) {
      top: 14px;
    }
    #btm-open-menu span:nth-child(4) {
      top: 28px;
    }

    #responsive-toggle:checked ~ #btm-open-menu span:nth-child(1) {
      top: 14px;
      width: 0%;
      left: 50%;
    }
    #responsive-toggle:checked ~ #btm-open-menu span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      transition-delay: 0.3s;
    }
    #responsive-toggle:checked ~ #btm-open-menu span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition-delay: 0.3s;
    }
    #responsive-toggle:checked ~ #btm-open-menu span:nth-child(4) {
      top: 14px;
      width: 0%;
      left: 50%;
    }

    /*   END  btm-responsive-menu   */
    @media (max-width: 700px) {
      #nav .list-menu {
        flex-wrap: wrap;
      }
      #nav .item-menu {
        width: 100%;
        flex-basis: 701px;
      }
      #nav .logo {
        order: -1;
      }
      #nav .nav-icons {
        order: -1;
        height: 0;
        margin: 0;
      }
      #nav .shop,
      #nav .nav-icons {
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
        transition: 0.2s;
      }
      #nav #responsive-toggle:checked ~ .shop,
      #nav #responsive-toggle:checked ~ .nav-icons {
        display: flex;
        width: 100%;
        visibility: visible;
        opacity: 1;
        transition: 0.2s;
      }
      #nav #responsive-toggle:checked ~ .nav-icons {
        height: 100%;
        margin-bottom: 10px;
      }

      #btm-open-menu {
        display: block;
        z-index: 1;
      }

      .shop > i {
        display: none;
      }

      .shop > .sub-menu {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
      }

      .sub-menu li {
        padding: 20px 0;
      }

      .sub-menu li:not(:first-child) {
        border-top: none;
      }
    }
    .list-menu #responsive-toggle {
      display: none;
    }

    @media (max-height: 400px) {
      .shop > .sub-menu {
        flex-wrap: nowrap;
      }

      .sub-menu {
        border-top: solid 1px #bbb;
      }
      .sub-menu li:not(:last-child) {
        border-right: solid 1px #bbb;
      }
      .sub-menu li {
        border-top: none;
      }

      .shop:hover i::after {
        background: #bbb;
      }

    }

    .wrapper {
      padding: 2em;
      width: 90%;
      margin: 0 auto;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-columns: repeat(auto-fill, minmax(200px 1fr));
      grid-gap: 2em;
    }

    .grid li {
        display: inline-block;
        margin: 0;
        padding: 20px;
        text-align: left;
        position: relative;
    }

    .grid figure {
        margin: 0;
        position: relative;
    }

    .grid figure img {
        max-width: 100%;
        display: block;
        position: relative;
    }

    .grid figcaption {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.2em;
        background: #2c3f52;
        color: #ed4e6e;
    }

    .grid figcaption h3 {
        margin: 0;
        padding: 0;
        color: #fff;
    }

    .grid figcaption span:before {
        content: ' ';
    }

    .grid figcaption a {
        text-align: center;
        padding: 5px 10px;
        border-radius: 2px;
        display: inline-block;
        background: #ed4e6e;
        color: #fff;
    }

    /* Caption */
    .caption-hover figure {
        overflow: hidden;
    }

    .caption-hover figure img {
        /*-webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;*/
        transition: transform 0.4s;
    }

    .caption-hover figure:hover img  {
        /*-webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);*/
        transform: translateY(-50px);
    }

    .caption-hover figcaption {
        height: 100px;
        width: 100%;
        top: auto;
        bottom: 0;
        opacity: 0;
        /*-webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);*/
        transform: translateY(100%);
        /*-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;*/
        transition: transform 0.4s, opacity 0.1s 0.3s;
    }

    .caption-hover figure:hover figcaption {
        opacity: 1;
        /*-webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);*/
        transform: translateY(0px);
        /*-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s;*/
        transition: transform 0.4s, opacity 0.1s;
    }

    .caption-hover figcaption a {
        position: absolute;
        bottom: 1.2em;
        right: 1.20em;
    }

    @media screen and (max-width: 700px) {
        .grid {
            grid-template-columns: auto;
        }
    }

    .ribbon {
     width: 60px;
     padding: 10px 0;
     position: absolute;
     top: -6px;
     left: 25px;
     text-align: center;
     border-top-left-radius: 3px;
     background: #F47530;
    }
    .ribbon:before {
     height: 0;
     width: 0;
     right: -5.5px;
     top: 0.1px;
     border-bottom: 6px solid #8D5A20;
     border-right: 6px solid transparent;
    }
    .ribbon:before, .ribbon:after {
      content: "";
      position: absolute;
    }
    .ribbon:after {
      height: 0;
      width: 0;
      bottom: -29.5px;
      left: 0;
      border-left: 30px solid #F47530;
      border-right: 30px solid #F47530;
      border-bottom: 30px solid transparent;
    }

    .wrap {
      width: 100%;
      height: 188px;
      position: absolute;
      top: -8px;
      left: 8px;
      overflow: hidden;
    }
    .wrap:before, .wrap:after {
      content: "";
      position: absolute;
    }
    .wrap:before {
      width: 40px;
      height: 8px;
      right: 100px;
      background: #4D6530;
      border-radius: 8px 8px 0px 0px;
    }
    .wrap:after {
      width: 8px;
      height: 40px;
      right: 0px;
      top: 100px;
      background: #4D6530;
      border-radius: 0px 8px 8px 0px;
    }
    .ribbon1 {
      width: 200px;
      height: 40px;
      line-height: 40px;
      position: absolute;
      top: 30px;
      right: -50px;
      z-index: 2;
      overflow: hidden;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border: 1px dashed;
      box-shadow:0 0 0 3px #57DD43,  0px 21px 5px -18px rgba(0,0,0,0.6);
      background: #57DD43;
      text-align: center;
    }

    .hide {
      display: none;
    }
    .images-wrapper {
      background-position: 50% 50%;
      background-size: cover;
      opacity: 1;
      transition: opacity 0.25s;
      height: 30vh;
    }

    .images-wrapper.fade-out {
      opacity: 0;
    }

    .controls {
      position: relative;
      margin: 0 auto;
    }

    .prev-arrow,
    .next-arrow {
      color: #fff;
      font-weight: 900;
      font-size: 2.5em;
      position: absolute;
      top: 50%;
    }

    .prev-arrow {
      top:10px;
      left: 10px;

    }

    .next-arrow {
      top:10px;
      right: 10px;
    }

    .fade-out {
      opacity: 0;
    }

#shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}


#cart {
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: 5em;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 93%;
    max-height: 99%;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}


#cart.speed-in {
    opacity: 1;
    background: #FFF;
    z-index: 998;
    transform: scale(1);
}

#cart > * {
  padding: 0 1em;
}

#cart h2 {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

#cart .cart-items {
  padding: 0;
}

#cart ul {
  list-style: none;
}

#cart .cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
  list-style: none;
}

#cart .cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}

#cart .qty, #cart .price {
  color: #a5aebc;
}

#cart .price {
  margin-top: .4em;
}

#cart .item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#cart .item-remove::after {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 1em;
    color: red;
    top: 50%;
    right: 1%;
    margin: -20px 35px 0 0;
    z-index: 1;
}


.cart-product input.qty {
   width: 75px;
   height: 75px;
   padding: 0;
   border: 0;
   border-right: 1px solid #333;
   background: rgba(0, 0, 0, 0.5);
   font-size: 2.5em;
   line-height: 75px;
   text-align: center;
   color: #fff;
   background-size: cover;
   background-repeat: no-repeat;
 }


.no-touch #cart .item-remove:hover {
  background-color: #e0e6ef;
}

#cart .cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}

#cart .cart-total span {
  float: right;
}

#cart .cart-total::after {
  content: '';
  display: table;
  clear: both;
}

#cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}

.no-touch #cart .checkout-btn:hover {
  background: #a2dda8;
}

#cart .go-to-cart {
  text-align: center;
  margin: 1em 0;
}

#cart .go-to-cart a {
  text-decoration: underline;
}

@media only screen and (min-width: 900px) {
  #cart > * {
    padding: 0 2em;
  }
  #cart .cart-items li {
    padding: 1em 2em;
  }
  #cart .item-remove {
    right: 2em;
  }
}


/**
 #Footer
*/
.footer {
  width: 100%;
  position: fixed;
  /*bottom: -100%;*/
  left: 0;
  z-index: 99;
  padding-top: 40px;
  transition: bottom .2s ease-in-out;
}
.footer-inner {
  padding: 30px 30px 40px;
  background: #C4C4C4;
}
.footer, .footer a {
  color: #333333;
}
.footer a, .footer a .fa {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.footer a:hover, .footer a:hover .fa {
  color: #FFFFFF;
}
.footer__columns {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.footer__columns:before, .footer__columns:after {
  display: table;
  content: " ";
}
.footer__columns:after {
  clear: both;
}
.footer__column {
  padding: 0 10px;
  float: left;
  width: 25%;
  position: relative;
}
.footer__column--large {
  padding: 0 10px;
  float: left;
  width: 50%;
  position: relative;
}
.footer .company-info {
  max-width: 60%;
}
.footer .company-info__name {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}
.footer .company-info__line {
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #000000;
  font-size: 14px;
}
.footer .company-info__line--last {
  border-bottom: none;
}
.footer .company-info__line .fa {
  color: #000000;
  padding-right: 6px;
  width: 18px;
}
.footer .company-info__social-link {
  font-size: 24px;
}
.footer .company-info__social-link:not(:first-child) {
  padding-left: 10px;
}
.footer .company-info__social-link:not(:last-child) {
  padding-right: 10px;
}
.footer.active {
  bottom: 0;
}
.footer__links h4 {
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
  padding-bottom: 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #000000;
}
.footer__links ul {
  padding-left: 1em;
}
.footer__links, .footer__links li {
  list-style-type: square;
}
.footer__links a {
  display: inline-block;
  padding: 0 0 10px;
  transition: padding .2s ease-in;
  position: relative;
}
.footer__links li, .footer__links a {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.footer__links li:hover, .footer__links a:hover {
  color: #FFFFFF;
}

/**
  #Dot Navigation
*/
.dot-navigation {
  position: fixed;
  top: 25%;
  right: 20px;
  z-index: 20;
}
.dot-navigation ul, .dot-navigation li {
  display: block;
  list-style-type: none;
}
.dot-navigation nav li {
  float: none;
  padding-bottom: 25px;
}
.dot-navigation nav a {
  display: block;
  width: 5px;
  height: 5px;
  background: #bbb;
  border-radius: 50%;
  padding: 0;
  position: relative;
  text-align: right;
  transition: all .1s linear;
}
.dot-navigation nav a span {
  position: absolute;
  top: -6px;
  right: 100%;
  width: 220px;
  display: block;
  padding-right: 10px;
  color: #bbb;
  transition: all .1s linear;
  display: none;
}
.dot-navigation nav a:hover {
  background: white;
}
.dot-navigation nav a:hover span {
  color: white;
  padding-right: 15px;
}
.dot-navigation:hover nav span {
  display: block;
}

.scroll-more {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50px;
  text-align: center;
  opacity: .75;
}
.scroll-more__text {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 2px solid #F5F5F5;
  padding: 0 10px 10px;
  font-weight: 100;
}
.scroll-more__text .fa {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -4px;
  font-size: 16px;
}

/**
 #Megamenu
*/
.megamenu {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.megamenu img{
  max-width: 100%;
}

.megamenu__trigger {
  float: right;
  margin-right: 40px;
  display: inline-block;
  padding: 13px 20px 14px 50px;
  background: rgba(0, 0, 0, 0.95);
  color: #AAAAAA !important;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 0;
  -webkit-transition: all 0.2 0.5s linear;
  -moz-transition: all 0.2 0.5s linear;
  -o-transition: all 0.2 0.5s linear;
  transition: all 0.2 0.5s linear;
}
.megamenu__trigger.open, .megamenu__trigger:hover {
  color: #FFFFFF !important;
}
.megamenu__trigger.open .icon span, .megamenu__trigger:hover .icon span {
  background: #FFFFFF;
}
.megamenu__trigger .icon {
  width: 18px;
  height: 16px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 12px;
  left: 18px;
}
.megamenu__trigger .icon span {
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #AAAAAA;
  border-radius: 2px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.megamenu__trigger .icon span:nth-child(1) {
  top: 0;
}
.megamenu__trigger .icon span:nth-child(2), .megamenu__trigger .icon span:nth-child(3) {
  top: 34.5%;
}
.megamenu__trigger .icon span:nth-child(4) {
  top: 70%;
}
.megamenu__trigger .icon.open span:nth-child(1) {
  top: 34.5%;
  width: 0;
  left: 50%;
}
.megamenu__trigger .icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.megamenu__trigger .icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.megamenu__trigger .icon.open span:nth-child(4) {
  top: 34.5%;
  width: 0%;
  left: 50%;
}
.megamenu__wrap {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.7);
  width: 100%;
  border-top: 1px solid #888888;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
.megamenu__inner {
  float: right;
  background: #F6F6F6;
  padding: 40px 20px;
  border-left: 1px solid #C4C4C4;
}
.megamenu__columns {
  max-width: 1400px;
  width: 100%;
}
.megamenu__columns:before, .megamenu__columns:after {
  display: table;
  content: " ";
}
.megamenu__columns:after {
  clear: both;
}
.megamenu__columns .megamenu__columns {
  margin-left: -10px;
  margin-right: -10px;
}
.megamenu__column {
  padding: 0 10px;
  float: left;
  width: 27.5%;
  position: relative;
}
.megamenu__column--half {
  padding: 0 10px;
  float: left;
  width: 50%;
  position: relative;
}
.megamenu__column--last {
  padding: 0 10px;
  float: left;
  width: 17.5%;
  position: relative;
}
.megamenu__column img {
  border-left: 1px solid #C4C4C4;
}
.megamenu__column h4 {
  text-transform: uppercase;
  font-size: 15px;
  color: #333333;
  margin: 0 0 15px;
}
.megamenu__column ul {
  padding: 0;
  margin: 0;
}
.megamenu__column ul, .megamenu__column ul li {
  list-style: none;
}
.megamenu__column ul li, .megamenu__column ul a {
  display: block;
}
.megamenu__column ul a {
  font-size: 14px;
  color: #444444;
  padding: 5px 0;
}

.content-inner {
  padding: 30px 30px 40px;
  background: #C4C4C4;
}


h5 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.text {
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 1em;
  z-index: 2;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 150px;
  padding-bottom: 82px;
}

.containerName {
  font-weight: 300;
}

.block-w {
  overflow: hidden;
  flex: 1 1 auto;
  float: left;
  background-color: #f2f2f2;
  width: 19%;
  height: 300px;
  transition: .3s ease-in-out;
}

.active {
  width: 58%;
}

.block {
  display: flex;
  flex-flow: row wrap;
}

.block0 {
/*  background-image: url(../images/1.jpg);*/
  background-size: cover;
  -webkit-background-size: cover;
}

.block1 {
/*  background-image: url(../images/1.jpg);*/
  background-size: cover;
  -webkit-background-size: cover;
}

.block2 {
  /*background-image: url(../images/2.jpg);*/
  background-size: cover;
  -webkit-background-size: cover;
}

.block3 {
  /*background: url(../images/3.jpg);*/
  background-size: cover norepeat;
  -webkit-background-size: cover;
}

.block4 {
  /*background-image: url(../images/4.jpg);*/
  background-size: cover;
  -webkit-background-size: cover;
}

.block5 {
  /*background-image: url(../images/5.jpg);*/
  background-size: cover;
  -webkit-background-size: cover;
}

.back {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1;
  width: 100%;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.block-w:hover .back {
  background: rgba(0, 0, 0, 0.6);
}

.block-w:hover .text {
  color: #e6e6e6;
}

.hellothere {
  margin-top: 10px;
  padding: 20px;
  font-size: 0.7em;
  font-weight: 100;
}

.min {
  width: 10%;
}

@media (max-width: 900px) {
  .block-w {
    flex: 1 1 100%;
  }
}
.fancy-btn {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  /*top: 50%;*/
  display: block;
  min-width: 10%;
  line-height: 55px;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #F2594B;
  color: #FFF;
  border-radius: 3px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fancy-btn:hover {
  background-color: #f46f63;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 40;
  -moz-transition: opacity 0.25s ease 0s, visibility 0.35s linear;
  -o-transition: opacity 0.25s ease 0s, visibility 0.35s linear;
  -webkit-transition: opacity 0.25s ease, visibility 0.35s linear;
  -webkit-transition-delay: 0s, 0s;
  transition: opacity 0.25s ease 0s, visibility 0.35s linear;
}
.modal-overlay.state-show {
  opacity: .7;
  visibility: visible;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.2s, 0s;
  -o-transition-duration: 0.2s, 0s;
  -webkit-transition-duration: 0.2s, 0s;
  transition-duration: 0.2s, 0s;
}

.modal-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  /*     display: table; */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  width: 100%;
  text-align: center;
  visibility: hidden;

}

.modal-frame.state-appear {
  visibility: visible;
}
.modal-frame.state-appear .modal-inset {
  -moz-animation: modalComeIn 0.25s ease;
  -webkit-animation: modalComeIn 0.25s ease;
  animation: modalComeIn 0.25s ease;
  visibility: visible;
  /* to keep @ final state */
}
.modal-frame.state-appear .modal-body {
  opacity: 1;
  -moz-transform: translateY(0) scale(1, 1);
  -ms-transform: translateY(0) scale(1, 1);
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}
.modal-frame.state-leave {
  visibility: visible;
}
.modal-frame.state-leave .modal-inset {
  -moz-animation: modalHeadOut 0.35s ease 0.1s;
  -webkit-animation: modalHeadOut 0.35s ease 0.1s;
  animation: modalHeadOut 0.35s ease 0.1s;
  visibility: visible;
}
.modal-frame.state-leave .modal-body {
  opacity: 0;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
}

@-moz-document url-prefix() {
  .modal-frame {
    height: calc(100% - 55px);
  }
}
.modal {
  display: block;
  vertical-align: middle;
  text-align: center;
}

.modal-inset {
  position: relative;
  padding: 60px;
  background-color: white;
  min-width: 320px;
  min-height: 126px;
  margin: auto;
  visibility: hidden;
  -moz-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.modal-inset .close {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  opacity: .4;
}
.modal-inset .close:hover {
  opacity: 1;
}

.modal-body {
  margin: auto;
  opacity: 0;
  -moz-transform: translateY(0) scale(0.8, 0.8);
  -ms-transform: translateY(0) scale(0.8, 0.8);
  -webkit-transform: translateY(0) scale(0.8, 0.8);
  transform: translateY(0) scale(0.8, 0.8);
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.modal-body h3 {
  font-weight: 700;
  padding-bottom: 22px;
  display: block;
  color: #F2594B;
  text-align: center;
}
.modal-body p {
  padding-bottom: 20px;
}
.modal-body .ps {
  font-size: 12px;
  opacity: .3;
}

@-webkit-keyframes modalComeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  65.5% {
    -moz-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes modalComeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  65.5% {
    -moz-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes modalComeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  65.5% {
    -moz-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes modalHeadOut {
  0% {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateY(0) scale(1, 1);
    -ms-transform: translateY(0) scale(1, 1);
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -moz-transform: translateY(35px) scale(0.97, 0.97);
    -ms-transform: translateY(35px) scale(0.97, 0.97);
    -webkit-transform: translateY(35px) scale(0.97, 0.97);
    transform: translateY(35px) scale(0.97, 0.97);
  }
}
@-moz-keyframes modalHeadOut {
  0% {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateY(0) scale(1, 1);
    -ms-transform: translateY(0) scale(1, 1);
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -moz-transform: translateY(35px) scale(0.97, 0.97);
    -ms-transform: translateY(35px) scale(0.97, 0.97);
    -webkit-transform: translateY(35px) scale(0.97, 0.97);
    transform: translateY(35px) scale(0.97, 0.97);
  }
}
@keyframes modalHeadOut {
  0% {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateY(0) scale(1, 1);
    -ms-transform: translateY(0) scale(1, 1);
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -moz-transform: translateY(35px) scale(0.97, 0.97);
    -ms-transform: translateY(35px) scale(0.97, 0.97);
    -webkit-transform: translateY(35px) scale(0.97, 0.97);
    transform: translateY(35px) scale(0.97, 0.97);
  }
}

.total-logo {
  position: relative;
  width: 100%;
  height: 72px;
  background: #ccc;
  display: flex;
  border-radius: 5px 5px 0 0;
}
.total-logo .total {
  width: 50%;
  height: 100%;
  background: #b62138;
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 5px 0 0 0;
}
.total-logo .total span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin-bottom: 3px;
}
.total-logo .total .total-n {
  font-size: 34px;
}
.total-logo .logo {
  width: 50%;
  height: 100%;
  background: rgb(125, 207, 133);
  padding: 20px 30px;
  box-sizing: border-box;
  text-align: right;
  border-radius: 0 5px 0 0;
}

.step {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step .retry {
  width: 75px;
  height: 20px;
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #b6b6b6;
  border-radius: 2px;
  text-align: center;
  margin: 0 20px;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 12px;
  color: #b6b6b6;
  padding-top: 3px;
  transition: all 200ms linear;
  cursor: pointer;
}
.step .retry:hover {
  background: #b6b6b6;
  color: #eee;
}
.step .line {
  width: 195px;
  height: 1px;
  background: linear-gradient(to right, #eee 0%, #ffc6c6 100%);
}
.step .payment {
  width: 75px;
  height: 20px;
  box-sizing: border-box;
  background-color: #ffc6c6;
  border: 1px solid #d77c7c;
  border-radius: 2px;
  text-align: center;
  margin: 0 20px;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 3px;
  color: #b62138;
}

.cont-forms {
  position: relative;
  padding: 0px 20px 20px 20px;
  height: 315px;
  box-sizing: border-box;
}

.card-expiration,
.card-holder,
.card-number {
  text-transform: capitalize;
  margin: 5px 0px 15px 0px;
  font-family: 'Roboto';
}

.card-number label {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-wrapper input {
  width: 23%;
  text-align: center;
  height: 35px;
  border: none;
  background: #eee;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
}
.flex-wrapper input:focus {
  border: 1px solid #ccc;
}

.card-holder label {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
.card-holder input {
  width: 100%;
  height: 35px;
  border: none;
  background: #eee;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
}
.card-holder input:focus {
  border: 1px solid #ccc;
}

.card-expiration .expiry-ccv {
  display: flex;
  justify-content: space-between;
}
.card-expiration .expiry-ccv .expiration-date {
  width: 50%;
}
.card-expiration .expiry-ccv .expiration-date label {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
.card-expiration .expiry-ccv .expiration-date input {
  width: 46%;
  text-align: center;
  height: 35px;
  border: none;
  background: #eee;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
}
.card-expiration .expiry-ccv .expiration-date input:focus {
  border: 1px solid #ccc;
}
.card-expiration .expiry-ccv .expiration-date .last {
  margin-left: 7px;
}
.card-expiration .expiry-ccv .ccv {
  width: 23%;
}
.card-expiration .expiry-ccv .ccv label {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
.card-expiration .expiry-ccv .ccv input {
  width: 100%;
  text-align: center;
  height: 35px;
  border: none;
  background: #eee;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
}
.card-expiration .expiry-ccv .ccv input:focus {
  border: 1px solid #ccc;
}

.conf-button {
  position: relative;
  bottom: -35px;
}
.conf-button .purchase {
  width: 50%;
  height: 43px;
  border-radius: 3px;
  font-size: 20px;
  border: none;
  outline: none;
  font-weight: 100;
  font-family: 'Dosis';
  text-transform: uppercase;
  background-color: #b62138;
  color: #fff;
  box-sizing: border-box;
  transition: all 200ms linear;
  cursor: pointer;
}
.conf-button .purchase:hover {
  color: #b62138;
  background: #fff;
  border: 1px solid #b62138;
}
.conf-button .or-element {
  width: 10%;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto';
  cursor: context-menu;
}
.conf-button .applepay {
  width: 40%;
  height: 43px;
  border-radius: 3px;
  font-size: 20px;
  border: none;
  outline: none;
  font-weight: 100;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  transition: all 200ms linear;
  cursor: pointer;
}
.conf-button .applepay:hover {
  color: #000;
  background: #fff;
  border: 1px solid #000;
}

.button-cart {
  width: 40px;
  height: 50px;
  background: #b62138;
  position: absolute;
  right: -40px;
  bottom: calc(50% - 25px);
  border-radius: 0 5px 5px 0;
  box-shadow: inset 11px 0px 30px -15px #000;
  cursor: pointer;
  opacity: 1;
  transition: all 250ms linear;
}
.button-cart:hover {
  background: #ffc6c6;
}
.button-cart img {
  width: 25px;
  margin-top: 13px;
  margin-left: 7px;
}
.button-cart .product-in-cart {
  position: absolute;
  background: #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -8px;
  top: -8px;
}
.button-cart .product-in-cart span {
  position: relative;
  display: block;
  color: #fff;
  padding-top: 3px;
  text-align: center;
  font-size: 13px;
}

.cont-product {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  width: 97px;
  height: 351px;
  transition: transform 250ms linear;
  z-index: 1;
}
.cont-product .product {
  position: relative;
  height: 97px;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0px 10px 0px;
  z-index: 1;
  transition: transform 300ms cubic-bezier(0, 0, 0, 2.39);
}
.cont-product .product .img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  width: 80%;
  background-size: cover;
}
.cont-product .product .cont-options {
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: -15px;
  transition: bottom 250ms linear;
}
.cont-product .product .cont-options .quantity {
  position: relative;
  width: 50%;
  height: 100%;
  background: #eee;
}
.cont-product .product .cont-options .quantity .plus {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 30%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: #000;
  color: #fff;
}
.cont-product .product .cont-options .quantity .num {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  top: 1px;
  width: 40%;
  color: #b62138;
  font-size: 80%;
}
.cont-product .product .cont-options .quantity .minus {
  position: absolute;
  height: 100%;
  right: 0;
  width: 30%;
  padding: 0 0 0px 0;
  margin: 0;
  border: none;
  outline: none;
  background: #000;
  color: #fff;
}
.cont-product .product .cont-options .remove {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #b62138;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  border: none;
  text-transform: uppercase;
  font-size: 41%;
  font-weight: 100;
  color: #fff;
  outline: none;
}
.cont-product .active {
  z-index: 3;
  transform: scale(2);
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.25);
}

/*class for animation*/
.slideup {
  bottom: 0 !important;
}

.zindex {
  z-index: 2;
}

.slide-right {
  transform: translateX(500px);
}

.slide-cont-left {
  transform: translateX(-100px);
}

.btn-hiding {
  opacity: 0;
}
