@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400");
@import url("https://fonts.googleapis.com/css?family=Merriweather:700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

html {
    height: 100%;
    font-size: 62.5%;
}

ol, ul {
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.8rem;
    background: radial-gradient(ellipse at center, #f5f5f5 0%,#ddd 100%);

}
a {
	color: #333;
	text-decoration: none;
}
h1 {
	font-family: Merriweather, serif;
}

.overflow-hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.thumbnail-grid {
	user-select: none;

}
.thumbnail-grid figure {
	position: relative;

	min-width: 15em;
	height: 20em;

	margin: 5px;
	border-radius: 3px;
	box-shadow: inset 0 -40px 0 0 rgba(0,0,0,.1);
	transition: all .2s ease-in-out
}
.thumbnail-grid figure:hover {
	box-shadow: inset 0 -250px 0 0 rgba(0,0,0,.5);

}


.thumbnail-grid figcaption {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #f4f4f4;
	text-shadow: 0 0 3px #000;
	bottom: 10px;
	transition: all .2s ease-in-out
}

.thumbnail-grid figure:hover figcaption {
    background-color: rgba(200, 0, 0, 0.8);
	bottom: 60px
}

.flex {
	display: flex;
    text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch
}

.flex-item {
	flex: 1 0 auto
}

/* Thumbnails, just for demo purposes */
.thumbnail-grid figure {
	background: url(../images/product0.png) no-repeat center;
	background-size: cover
}


.carousel {

  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.carousel img {
  left: 100%;
  position: absolute;
  top: 100%;
}

.carousel__images-wrapper {
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
}


.carousel__images-wrapper.fade-out {
  opacity: 0;
}

.carousel__prev-arrow,
.carousel__next-arrow {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: opacity 0.25s;
  transform: translateY(-50%);
  width: 30px;

}

.thumbnail-grid figure:hover .carousel__prev-arrow,
.thumbnail-grid figure:hover .carousel__next-arrow{
    opacity: 1;
}
.carousel__prev-arrow:hover,
.carousel__next-arrow:hover {
  opacity: 1;
  background-color: #b00;

}

.carousel__prev-arrow::before,
.carousel__next-arrow::before {
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 10px;
}

.carousel__prev-arrow {
  left: 5px;
}

.carousel__prev-arrow::before {
  transform: translateY(-50%) translateX(-30%) rotate(45deg);
}

.carousel__next-arrow {
  right: 5px;
}

.carousel__next-arrow::before {
  transform: translateY(-50%) translateX(-60%) rotate(225deg);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #555;
  z-index: 10000;
  border-bottom: 4px solid #323042;
}

.mainnav {
  position: fixed;
  width: 100%;
  top: 0;
  background: #333;
  margin: 0;
  box-shadow: 0 0px 5px rgba(76, 175, 80, 0.4);
  transition: 0.5s;
}

.mainnav > ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.mainnav > ul > li {
  display: flex;
  align-items: flex-end;
  flex-basis: 250px;
  justify-content: center;
}

.logo {
  padding: 20px 0 15px 0;
  font-size: 1.5em;
  line-height: 0.9;
  letter-spacing: 10px;
  text-align: center;
}
.logo a {
  text-decoration: none;
  color: #BBB;
}

.logo span {
  font-size: 0.6em;
  letter-spacing: 4px;
  padding: 0;
  margin: 0;
  color: #BBB;
  text-decoration: none;
}

.nav-icons i {
  padding: 10px;
  margin: 0 10px;
  font-size: 1.5em;
  color: #BBB;
  transition: 0.2s;
}

.nav-icons i:hover {
  color: #ffc008;
  transform: scale(1.1);
}

.search-form {
  display: flex;
}


.shop > i {
  position: relative;
  padding: 15px 45px 10px 30px;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 3px;
  text-decoration: none;
  color: #BBB;
}

.shop > i::before {
  content: '';
  position: absolute;
  height: 0.7em;
  width: 0.7em;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  transform: translate(70px, 6px) rotate(45deg);
  border-color: #BBB;
}

.shop:hover i {
  outline: solid 1px #ffc008;
}
.shop:hover i::after {
  content: '';
  position: absolute;
  height: 1px;
  bottom: -1px;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1;
}

.shop > .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: none;
  background: white;
}

.shop:hover .sub-menu {
  display: flex;
}

.sub-menu li {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 30px 0;
  border-bottom: solid 1px #BBB;
  border-top: solid 1px #BBB;
}
.sub-menu li:hover {
  background: #dbf0dc;
}
.sub-menu li h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #BBB;
}

main {
    margin-top: 5em;
}

/*   START btm-responsive-menu   */
#btm-open-menu {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 22px;
  left: 4%;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}
#btm-open-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #bbb;
  left: 0;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#btm-open-menu span:nth-child(1) {
  top: 0px;
}
#btm-open-menu span:nth-child(2), #btm-open-menu span:nth-child(3) {
  top: 14px;
}
#btm-open-menu span:nth-child(4) {
  top: 28px;
}

.child1 {
    top: 14px;
    width: 0%;
    left: 50%;
}

.child2 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition-delay: 0.3s;
}

.child3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition-delay: 0.3s;
}


ul #responsive-toggle {
  display: none;
}

/*   END  btm-responsive-menu   */
@media (max-width: 700px) {

  .mainnav > ul  {
    flex-wrap: wrap;
    /*visibility: hidden;*/
  }
  .mainnav .item-menu {
    width: 100%;
    flex-basis: 701px;
  }

  .mainnav .nav-icons {
    order: -1;
    height: 0;
    margin: 0;
  }

  .shop,
  .logo
   {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: 0.2s;
  }

  .ishidden{
      visibility: hidden;
      opacity: 0;
      cursor: pointer;
      transition: 0.2s;
  }

 .isvisible{
     display: flex;
     width: 100%;
     visibility: visible;
     opacity: 1;
     transition: 0.2s;
 }


  .mainnav .nav-icons {
    margin-left: 2em;
    padding-top: 3em;
  }

  #btm-open-menu {
    display: block;
    z-index: 1;
  }

  .shop > i {
    display: none;
  }

  .shop > .sub-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }

  .sub-menu li {
    padding: 20px 0;
  }

  .sub-menu li:not(:first-child) {
    border-top: none;
  }
}

@media (max-height: 400px) {
  .shop > .sub-menu {
    flex-wrap: nowrap;
  }

  .sub-menu {
    border-top: solid 1px #4CAF50;
  }
  .sub-menu li:not(:last-child) {
    border-right: solid 1px #4CAF50;
  }
  .sub-menu li {
    border-top: none;
  }

  .shop:hover i::after {
    background: #4CAF50;
  }
}


#shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}


#cart {
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: 5em;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 93%;
    max-height: 99%;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

#cart.speed-in {
    opacity: 1;
    background: #FFF;
    z-index: 998;
    transform: scale(1);
}

#cart > * {
  padding: 0 1em;
}

#cart h2 {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

#cart .cart-items {
  padding: 0;
}

#cart ul {
  list-style: none;
}

#cart .cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
  list-style: none;
}

#cart .cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}

#cart .qty, #cart .price {
  color: #a5aebc;
}

#cart .price {
  margin-top: .4em;
}

#cart .item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#cart .item-remove::after {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 1em;
    color: red;
    top: 50%;
    right: 1%;
    margin: -20px 35px 0 0;
    z-index: 1;
}


.no-touch #cart .item-remove:hover {
  background-color: #e0e6ef;
}

#cart .cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}

#cart .cart-total span {
  float: right;
}

#cart .cart-total::after {
  content: '';
  display: table;
  clear: both;
}

#cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}

.no-touch #cart .checkout-btn:hover {
  background: #a2dda8;
}

#cart .go-to-cart {
  text-align: center;
  margin: 1em 0;
}

#cart .go-to-cart a {
  text-decoration: underline;
}

@media only screen and (min-width: 900px) {
  #cart > * {
    padding: 0 2em;
  }
  #cart .cart-items li {
    padding: 1em 2em;
  }
  #cart .item-remove {
    right: 2em;
  }
}


/*  START modal-container with login & sign in   */
#modal-login-toggle,
#modal-basket-toggle {
  display: none;
}

.modal-content,
.modal-backdrop {
  opacity: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 550px;
  max-height: 98%;
  width: 70%;
  max-width: 600px;
  text-align: center;
  transform: translateX(125%);
}

.modal-backdrop {
  left: 0;
  top: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  transform: scale(0);
}

#modal-login-toggle:checked ~ .modal-backdrop,
#modal-basket-toggle:checked ~ .modal-backdrop {
  opacity: 1;
  background-color: rgba(61, 139, 64, 0.5);
  z-index: 998;
  transform: scale(1);
}

#modal-login-toggle:checked ~ .modal-content,
#modal-basket-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: auto;
  cursor: auto;
  z-index: 999;
  transform: translateX(0%);
}

@media (max-width: 600px) {
  #modal-login-toggle:checked ~ .modal-backdrop,
  #modal-basket-toggle:checked ~ .modal-backdrop {
    opacity: 0;
  }

  .modal-content {
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
  }
}



.cart {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 14px 30px;
    -webkit-transition: background .25s, box-shadow .15s;
    transition: background .25s, box-shadow .15s;
  color: #ffc008;

  background: none;
  border-width: 2px;
  border-color: #ffc008;
  border-radius: 50px;
}

.cart-button span {}

.cart-container {
  min-height: 200px;
  position: absolute;
  width: 50%;
  max-width: 400px;
  display: none;
  background: white;
  box-shadow: 0px 10px 50px -5px rgb(199, 199, 199);
  top: 50px;
  right: 10px;
  z-index: 1;
}

.cart-container ul {
  margin-left: 0!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.cart-container ul li {
  list-style: none;
  position: relative;
  border-bottom: 1px solid grey;
  min-height: 60px;
}

.cart-container ul li h3 {
  font-size: 16px;
}

.cart-container ul li h3 span {
  font-size: 16px;
  color: grey;
  position: relative;
}

.cart-container ul li span {
  position: absolute;
  right: 5px;
  top: 10px;
}

.cart-open {
  display: block;
}

.button {
   position: absolute;;
   display: none;
   z-index: -1;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   width: 150px;
   height: 50px;
   text-align: center;
   perspective: 1000px;
 }

 .thumbnail-grid figure:hover .button{
     display: block;
     z-index: 10;

 }

 .button .prices {
   position: absolute;
   z-index: 2;
   top: 2px;
   display: block;
   width: 50px;
   height: 46px;
   border-right: 1px solid #9cdaf0;
   border-radius: 2px 0 0 2px;
   background: #fff;
   line-height: 45px;
   color: #b00;
   transform: rotateY(0deg) translateZ(25px);
 }
 .button .addtocart {
   position: absolute;
   left: 48px;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform: translateZ(-100px);
   transition: transform 300ms;
   cursor: pointer;
 }
 .button .addtocart > div {
   position: absolute;
   display: block;
   width: 150px;
   height: 50px;
   border-radius: 0 2px 2px 0;
   line-height: 50px;
 }
 .button .addtocart > .add {
   background: #fff;
   color: #b00;
   transform: rotateY(0deg) translateZ(25px);
   transition: background 150ms ease-out;
 }
 .button .addtocart >.add:hover {
   background: #b00;
   color: #fff;
 }
 .button .addtocart > .added {
   background: #f63;
   color: #fff;
   transform: rotateX(90deg) translateZ(25px);
 }
 .button .addtocart.active {
   animation-name: rotate;
   animation-duration: 1s;
 }
 .cart-product input.qty {
   width: 75px;
   height: 75px;
   padding: 0;
   border: 0;
   border-right: 1px solid #333;
   background: rgba(0, 0, 0, 0.5);
   font-size: 2.5em;
   line-height: 75px;
   text-align: center;
   color: #fff;
   background-size: cover;
   background-repeat: no-repeat;
 }
