@-webkit-keyframes showBannerLineTop {
  0% {
    bottom: 50%;
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
    height: 150px;
    opacity: 1;
  }
}
@-moz-keyframes showBannerLineTop {
  0% {
    bottom: 50%;
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
    height: 150px;
    opacity: 1;
  }
}
@-o-keyframes showBannerLineTop {
  0% {
    bottom: 50%;
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
    height: 150px;
    opacity: 1;
  }
}
@keyframes showBannerLineTop {
  0% {
    bottom: 50%;
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
    height: 150px;
    opacity: 1;
  }
}
@-webkit-keyframes showBannerLineBottom {
  0% {
    top: 50%;
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    height: 150px;
    opacity: 1;
  }
}
@-moz-keyframes showBannerLineBottom {
  0% {
    top: 50%;
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    height: 150px;
    opacity: 1;
  }
}
@-o-keyframes showBannerLineBottom {
  0% {
    top: 50%;
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    height: 150px;
    opacity: 1;
  }
}
@keyframes showBannerLineBottom {
  0% {
    top: 50%;
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    height: 150px;
    opacity: 1;
  }
}
@-webkit-keyframes showBannerText {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@-moz-keyframes showBannerText {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@-o-keyframes showBannerText {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes showBannerText {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@-webkit-keyframes showBannerLink {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    max-width: 1000px;
    opacity: 1;
  }
}
@-moz-keyframes showBannerLink {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    max-width: 1000px;
    opacity: 1;
  }
}
@-o-keyframes showBannerLink {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    max-width: 1000px;
    opacity: 1;
  }
}
@keyframes showBannerLink {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    max-width: 1000px;
    opacity: 1;
  }
}
@-webkit-keyframes linkUnderline {
  from {
    width: 0;
    border-color: transparent;
  }
  to {
    width: 110%;
    border-color: rgba(0, 0, 0, 0.1);
  }
}
@-moz-keyframes linkUnderline {
  from {
    width: 0;
    border-color: transparent;
  }
  to {
    width: 110%;
    border-color: rgba(0, 0, 0, 0.1);
  }
}
@-o-keyframes linkUnderline {
  from {
    width: 0;
    border-color: transparent;
  }
  to {
    width: 110%;
    border-color: rgba(0, 0, 0, 0.1);
  }
}
@keyframes linkUnderline {
  from {
    width: 0;
    border-color: transparent;
  }
  to {
    width: 110%;
    border-color: rgba(0, 0, 0, 0.1);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  height: 100%;
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 10px;
  padding: 0 1px;
  background: transparent;
}
body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  margin: 1px;
}

a {
  text-decoration: none;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.row:before, .row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}

img {
  max-width: 100%;
}

.column, .columns {
  float: left;
  padding: 0 10px;
  position: relative;
}

.small-1 {
  width: 8.33333%;
}

.offset-1 {
  left: 8.33333%;
}

.small-2 {
  width: 16.66667%;
}

.offset-2 {
  left: 16.66667%;
}

.small-3 {
  width: 25%;
}

.offset-3 {
  left: 25%;
}

.small-4 {
  width: 33.33333%;
}

.offset-4 {
  left: 33.33333%;
}

.small-5 {
  width: 41.66667%;
}

.offset-5 {
  left: 41.66667%;
}

.small-6 {
  width: 50%;
}

.offset-6 {
  left: 50%;
}

.small-7 {
  width: 58.33333%;
}

.offset-7 {
  left: 58.33333%;
}

.small-8 {
  width: 66.66667%;
}

.offset-8 {
  left: 66.66667%;
}

.small-9 {
  width: 75%;
}

.offset-9 {
  left: 75%;
}

.small-10 {
  width: 83.33333%;
}

.offset-10 {
  left: 83.33333%;
}

.small-11 {
  width: 91.66667%;
}

.offset-11 {
  left: 91.66667%;
}

.small-12 {
  width: 100%;
}

.offset-12 {
  left: 100%;
}

.scroll-animate {
  overflow: hidden;
}
.scroll-animate__main {
  width: 100%;
  left: 0;
  position: fixed;
}

.header, .footer, .scroll-animate_main {
  -webkit-animation: all 0.4s cubic-bezier(0, 0, 0, 1);
  -moz-animation: all 0.4s cubic-bezier(0, 0, 0, 1);
  -o-animation: all 0.4s cubic-bezier(0, 0, 0, 1);
  animation: all 0.4s cubic-bezier(0, 0, 0, 1);
}

.wrapper {
  margin-top: 100%;
  min-height: 100%;
  position: relative;
}

/**
 #Header
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 20px;
}
.header:before, .header:after {
  display: table;
  content: " ";
}
.header:after {
  clear: both;
}

/**
 #Main nav
 */
.main-nav {
  float: right;
}
.main-nav:before, .main-nav:after {
  display: table;
  content: " ";
}
.main-nav:after {
  clear: both;
}
.main-nav ul {
  padding: 0;
}
.main-nav ul, .main-nav li {
  list-style: none;
}
.main-nav__item, .main-nav__link {
  display: block;
}
.main-nav__item {
  float: left;
  position: relative;
}
.main-nav__item--language {
  padding-right: 60px;
}
.main-nav__item--language img {
  max-width: 20px;
  display: inline-block;
  padding: 0 3px;
}
.main-nav__submenu {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-nav__submenu--open {
  max-height: 3000px;
}
.main-nav__subitem, .main-nav__sublink {
  display: block;
}
.main-nav__sublink {
  padding: 5px 20px;
  color: #AAAAAA;
  font-size: 13px;
}
.main-nav__sublink--active {
  color: #F5F5F5;
}
.main-nav__link {
  display: block;
  color: #d9d9d9;
  padding: 5px 15px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
}
.main-nav__link:hover {
  color: #FFFFFF;
}
.main-nav__link--icon {
  padding-left: 8px;
  padding-right: 8px;
}

/**
 #Banner
*/
.banner {
  /*background-image: url("../images/banner.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.banner__line {
  height: 150px;
  width: 1px;
  border-right: 3px solid #ccc;
  position: absolute;
  right: 160px;
  opacity: 0;
}
.banner__line--bottom {
  top: 100%;
  -webkit-animation: 0.5s linear 1s 1 forwards showBannerLineBottom;
  -moz-animation: 0.5s linear 1s 1 forwards showBannerLineBottom;
  -o-animation: 0.5s linear 1s 1 forwards showBannerLineBottom;
  animation: 0.5s linear 1s 1 forwards showBannerLineBottom;
}
.banner__line--top {
  bottom: 100%;
  -webkit-animation: 0.5s linear 1s 1 forwards showBannerLineTop;
  -moz-animation: 0.5s linear 1s 1 forwards showBannerLineTop;
  -o-animation: 0.5s linear 1s 1 forwards showBannerLineTop;
  animation: 0.5s linear 1s 1 forwards showBannerLineTop;
}
.banner__cta {
  position: absolute;
  right: 25%;
  top: 20%;
}
.banner__cta a {
  display: block;
  position: absolute;
  right: -50px;
  max-width: 0;
  bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  transition: all 0.2s linear;
  opacity: 0;
  -webkit-animation: 0.2s linear 3s 1 forwards showBannerLink, 2s linear 4s infinite forwards pulse;
  -moz-animation: 0.2s linear 3s 1 forwards showBannerLink, 2s linear 4s infinite forwards pulse;
  -o-animation: 0.2s linear 3s 1 forwards showBannerLink, 2s linear 4s infinite forwards pulse;
  animation: 0.2s linear 3s 1 forwards showBannerLink, 2s linear 4s infinite forwards pulse;
}
.banner__cta a.loaded {
  opacity: 0;
}
.banner__cta a .fa {
  padding: 0 0 0 10px;
  position: relative;
  top: 8px;
  transition: all 0.2s linear;
}
.banner__cta a:hover {
  color: #daff6c;
}
.banner__cta a:hover .fa {
  margin-right: -8px;
  padding-left: 18px;
}
.banner__content {
  padding: 40px 30px 40px 0;
  min-height: 250px;
  margin-right: 160px;
  color: #fff;
  text-align: right;
  transition: all 0.5s ease-in;
  position: relative;
  top: 0;
  max-height: 0;
  opacity: 1;
  overflow: hidden;
}
.banner__content h2 {
  margin: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 38px;
  line-height: 1.1;
  -webkit-animation: 0.5s linear 2s 1 forwards showBannerText;
  -moz-animation: 0.5s linear 2s 1 forwards showBannerText;
  -o-animation: 0.5s linear 2s 1 forwards showBannerText;
  animation: 0.5s linear 2s 1 forwards showBannerText;
}
.banner__content h2, .banner__content p {
  position: relative;
  right: -100%;
  transition: all 0.5s ease-in;
  width: 300px;
  opacity: 0;
}
.banner__content p {
  color: rgba(255, 255, 255, 0.75);
  -webkit-animation: 0.5s linear 2.3s 1 forwards showBannerText;
  -moz-animation: 0.5s linear 2.3s 1 forwards showBannerText;
  -o-animation: 0.5s linear 2.3s 1 forwards showBannerText;
  animation: 0.5s linear 2.3s 1 forwards showBannerText;
}

.logo {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: #ccc;
  font-size: 25px;
  letter-spacing: 6px;
}

/**
 #Footer
*/
.footer {
  width: 100%;
  position: fixed;
  bottom: -100%;
  left: 0;
  z-index: 99;
  padding-top: 40px;
  transition: bottom .2s ease-in-out;
}
.footer-inner {
  padding: 30px 30px 40px;
  background: #C4C4C4;
}
.footer, .footer a {
  color: #333333;
}
.footer a, .footer a .fa {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.footer a:hover, .footer a:hover .fa {
  color: #FFFFFF;
}
.footer__columns {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.footer__columns:before, .footer__columns:after {
  display: table;
  content: " ";
}
.footer__columns:after {
  clear: both;
}
.footer__column {
  padding: 0 10px;
  float: left;
  width: 25%;
  position: relative;
}
.footer__column--large {
  padding: 0 10px;
  float: left;
  width: 50%;
  position: relative;
}
.footer .company-info {
  max-width: 60%;
}
.footer .company-info__name {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}
.footer .company-info__line {
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #000000;
  font-size: 14px;
}
.footer .company-info__line--last {
  border-bottom: none;
}
.footer .company-info__line .fa {
  color: #000000;
  padding-right: 6px;
  width: 18px;
}
.footer .company-info__social-link {
  font-size: 24px;
}
.footer .company-info__social-link:not(:first-child) {
  padding-left: 10px;
}
.footer .company-info__social-link:not(:last-child) {
  padding-right: 10px;
}
.footer.active {
  bottom: 0;
}
.footer__links h4 {
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
  padding-bottom: 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #000000;
}
.footer__links ul {
  padding-left: 1em;
}
.footer__links, .footer__links li {
  list-style-type: square;
}
.footer__links a {
  display: inline-block;
  padding: 0 0 10px;
  transition: padding .2s ease-in;
  position: relative;
}
.footer__links li, .footer__links a {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.footer__links li:hover, .footer__links a:hover {
  color: #FFFFFF;
}

/**
  #Dot Navigation
*/
.dot-navigation {
  position: fixed;
  top: 25%;
  right: 20px;
  z-index: 20;
}
.dot-navigation ul, .dot-navigation li {
  display: block;
  list-style-type: none;
}
.dot-navigation nav li {
  float: none;
  padding-bottom: 25px;
}
.dot-navigation nav a {
  display: block;
  width: 5px;
  height: 5px;
  background: #bbb;
  border-radius: 50%;
  padding: 0;
  position: relative;
  text-align: right;
  transition: all .1s linear;
}
.dot-navigation nav a span {
  position: absolute;
  top: -6px;
  right: 100%;
  width: 220px;
  display: block;
  padding-right: 10px;
  color: #bbb;
  transition: all .1s linear;
  display: none;
}
.dot-navigation nav a:hover {
  background: white;
}
.dot-navigation nav a:hover span {
  color: white;
  padding-right: 15px;
}
.dot-navigation:hover nav span {
  display: block;
}

.scroll-more {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50px;
  text-align: center;
  opacity: .75;
}
.scroll-more__text {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 2px solid #F5F5F5;
  padding: 0 10px 10px;
  font-weight: 100;
}
.scroll-more__text .fa {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -4px;
  font-size: 16px;
}

/**
 #Megamenu
*/
.megamenu {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.megamenu__trigger {
  float: right;
  margin-right: 40px;
  display: inline-block;
  padding: 13px 20px 14px 50px;
  background: rgba(0, 0, 0, 0.95);
  color: #AAAAAA !important;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 0;
  -webkit-transition: all 0.2 0.5s linear;
  -moz-transition: all 0.2 0.5s linear;
  -o-transition: all 0.2 0.5s linear;
  transition: all 0.2 0.5s linear;
}
.megamenu__trigger.open, .megamenu__trigger:hover {
  color: #FFFFFF !important;
}
.megamenu__trigger.open .icon span, .megamenu__trigger:hover .icon span {
  background: #FFFFFF;
}
.megamenu__trigger .icon {
  width: 18px;
  height: 16px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 12px;
  left: 18px;
}
.megamenu__trigger .icon span {
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #AAAAAA;
  border-radius: 2px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.megamenu__trigger .icon span:nth-child(1) {
  top: 0;
}
.megamenu__trigger .icon span:nth-child(2), .megamenu__trigger .icon span:nth-child(3) {
  top: 34.5%;
}
.megamenu__trigger .icon span:nth-child(4) {
  top: 70%;
}
.megamenu__trigger .icon.open span:nth-child(1) {
  top: 34.5%;
  width: 0;
  left: 50%;
}
.megamenu__trigger .icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.megamenu__trigger .icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.megamenu__trigger .icon.open span:nth-child(4) {
  top: 34.5%;
  width: 0%;
  left: 50%;
}
.megamenu__wrap {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.7);
  width: 100%;
  border-top: 1px solid #888888;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
.megamenu__inner {
  float: right;
  background: #F6F6F6;
  padding: 40px 20px;
  border-left: 1px solid #C4C4C4;
}
.megamenu__columns {
  max-width: 1400px;
  width: 100%;
}
.megamenu__columns:before, .megamenu__columns:after {
  display: table;
  content: " ";
}
.megamenu__columns:after {
  clear: both;
}
.megamenu__columns .megamenu__columns {
  margin-left: -10px;
  margin-right: -10px;
}
.megamenu__column {
  padding: 0 10px;
  float: left;
  width: 27.5%;
  position: relative;
}
.megamenu__column--half {
  padding: 0 10px;
  float: left;
  width: 50%;
  position: relative;
}
.megamenu__column--last {
  padding: 0 10px;
  float: left;
  width: 17.5%;
  position: relative;
}
.megamenu__column img {
  border-left: 1px solid #C4C4C4;
}
.megamenu__column h4 {
  text-transform: uppercase;
  font-size: 15px;
  color: #333333;
  margin: 0 0 15px;
}
.megamenu__column ul {
  padding: 0;
  margin: 0;
}
.megamenu__column ul, .megamenu__column ul li {
  list-style: none;
}
.megamenu__column ul li, .megamenu__column ul a {
  display: block;
}
.megamenu__column ul a {
  font-size: 14px;
  color: #444444;
  padding: 5px 0;
}


.js-slider {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.js-slider__item {
  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  height: 400px;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.js-slider__item.is-active {
  opacity: 1;
}

.js-slider__item-inner {
  position: relative;
  height: 400px;
}

@media screen and (min-width: 769px) {
  .js-slider__item-inner {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .js-slider__item-inner:last-child {
    margin-right: 0;
  }
}

.js-slider__item-header {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #ffffff;
  color: #333;
  margin: 10px;
}


.content {
  width: 100%;
  position: fixed;
  /*height: 100%;*/
  bottom: -100%;
  left: 0;
  z-index: 99;
  padding-top: 40px;
  transition: bottom .2s ease-in-out;
}
.content-inner {
  padding: 30px 30px 40px;
  background: #C4C4C4;
}


h5 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.text {
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 1em;
  z-index: 2;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 150px;
  padding-bottom: 82px;
}

.containerName {
  font-weight: 300;
}

.block-w {
  overflow: hidden;
  flex: 1 1 auto;
  float: left;
  background-color: #f2f2f2;
  width: 19%;
  height: 300px;
  transition: .3s ease-in-out;
}

.active {
  width: 58%;
}

.block {
  display: flex;
  flex-flow: row wrap;
}

.block1 {
  background-image: url(../images/1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
}

.block2 {
  background-image: url(../images/2.jpg);
  background-size: cover;
  -webkit-background-size: cover;
}

.block3 {
  background: url(../images/3.jpg);
  background-size: cover norepeat;
  -webkit-background-size: cover;
}

.block4 {
  background-image: url(../images/4.jpg);
  background-size: cover;
  -webkit-background-size: cover;
}

.block5 {
  background-image: url(../images/5.jpg);
  background-size: cover;
  -webkit-background-size: cover;
}

.back {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1;
  width: 100%;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.block-w:hover .back {
  background: rgba(0, 0, 0, 0.6);
}

.block-w:hover .text {
  color: #e6e6e6;
}

.hellothere {
  margin-top: 10px;
  padding: 20px;
  font-size: 0.7em;
  font-weight: 100;
}

.min {
  width: 10%;
}

@media (max-width: 900px) {
  .block-w {
    flex: 1 1 100%;
  }
}
